/* _content/TeamFrontEndByBlazorServer/Pages/Index.razor.rz.scp.css */
/*
div,h1,h2,form, fieldset, input, textarea, footer, p{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

p{
    font-size: 24px;
}

#wrap{
    width:530px;
    margin:20px auto 0;
    height: 1000px;
}

h1{
    margin: 20px;
    text-align: center;
    font-size: 35px;
    font-family: Tahoma;
    color: white;
}

#form-wrap{
    overflow: hidden;
    height: 447px;
    position: relative;
    top:0px;
    transition: all 1s ease-in-out .3s;
}

#form-wrap:before{
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    width:530px;
    height: 317px;
}

#form-wrap:after {
    content:"";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 530px;
    height: 259px;
}

#form-wrap.hide:before,
#form-wrap.hide:after{
    display: none;
}

#form-wrap:hover{
    height:777px;
    top: -200px;
}

form{
    
}*/
/* _content/TeamFrontEndByBlazorServer/Pages/Login.razor.rz.scp.css */

#reg[b-bygltcebci]{
    
}
/* _content/TeamFrontEndByBlazorServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-vq7kzftqji] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-vq7kzftqji] {
    flex: 1;
}

.sidebar[b-vq7kzftqji] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-vq7kzftqji] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-vq7kzftqji]  a, .top-row .btn-link[b-vq7kzftqji] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-vq7kzftqji] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-vq7kzftqji] {
        display: none;
    }

    .top-row.auth[b-vq7kzftqji] {
        justify-content: space-between;
    }

    .top-row a[b-vq7kzftqji], .top-row .btn-link[b-vq7kzftqji] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-vq7kzftqji] {
        flex-direction: row;
    }

    .sidebar[b-vq7kzftqji] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vq7kzftqji] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-vq7kzftqji] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/TeamFrontEndByBlazorServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gih5zrlh86] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gih5zrlh86] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gih5zrlh86] {
    font-size: 1.1rem;
}

.oi[b-gih5zrlh86] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gih5zrlh86] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gih5zrlh86] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gih5zrlh86] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gih5zrlh86]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gih5zrlh86]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gih5zrlh86]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gih5zrlh86] {
        display: none;
    }

    .collapse[b-gih5zrlh86] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
