@page "/fetchdata"

@using TeamFrontEndByBlazorServer.Data
@using System.Diagnostics.CodeAnalysis
@using Microsoft.Extensions.Localization
@using Console = System.Console

@inject TeamService TeamService

<h1>组织广场</h1>

<p>在这里你可以看到各种各样的组织、部门、实验室</p>



@if (teams == null)
{
    <p><em>正在加载中哦...</em></p>
}
else
{
    <Select Items="Items" @bind-Value="SearchOptions"></Select>
    <Search IgnoreCase="true" OnSearch="@OnSearch1"></Search>
    
    
    <Row ItemsPerRow="ItemsPerRow.Three">
     @foreach (var team in teams)
     {
         <di>
             <Card Color="Color.Primary" IsCenter="true">
                 <CardHeader>
                     @team.teamName
                 </CardHeader>
                 <CardBody>
                     <h5 class="card-title">QQ群:@team.teamQQ</h5>
                     <p class="card-text">@team.teamInfo</p>
                 </CardBody>
             </Card>
         </di>
     }
    </Row>
    
}

@code {
    private List<Team> teams;
    private string SearchOptions { get; set; } = "false";
    protected override async Task OnInitializedAsync()
    {
        teams = await TeamService.GetTeamsAsync();
    }
    
    private IEnumerable<SelectedItem> Items { get; set; } = new[]
    {
        new SelectedItem ("true", "按名字查询"),
        new SelectedItem ("false", "按介绍查询"),
    };
    [Inject]
    [NotNull]
    private IStringLocalizer<Coding>? Localizer { get; set; }

    private async Task OnSearch1(string searchText)
    {
        if (searchText == "")
        {
            
                
            teams = await TeamService.GetTeamsAsync();
            StateHasChanged();
        }
        else if (bool.Parse(SearchOptions))
        {
            
            teams = await TeamService.GetTeamsByNameAsync(searchText);
            StateHasChanged();
        }
        else
        {
            teams = await TeamService.GetTeamsByInfoAsync(searchText);
            StateHasChanged();
        }
    }
}
