@page "/"
@using Console = System.Console
@inject ProtectedLocalStorage _localStorage
<div id="wrap">
    <h1>简要介绍</h1>
    <br><br><br>
    <div id="form-wrap">
        <form>
            <p>首先欢迎大家来到西科。</p>
            <p>本项目由个人开发，与西科官方无任何关系，且保证为公益性质。</p>
            <p>旨在帮助新生了解到自己想要加入的社团部门或者实验室等组织。</p>
            <div>@str</div>
        </form>

    </div>
    
</div>


<SurveyPrompt Title="有建议或者其他问题?" />

@code
{
    public string str { get; set; }
    public bool s_login { get; set; }
    private async Task test()
    {
    // ReSharper disable once HeapView.BoxingAllocation
        
        var result = await _localStorage.GetAsync<string>("toke");
        str = result.Success ? result.Value : "none";
        Console.WriteLine(str);
        if (str != null)
        {
            s_login = true;
        }
        else
        {
            s_login = false;
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        test();
    }
}
